<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Map</title>
    {% block javascript %}
    {% endblock %}
</head>
<body>
<h1> TwittMap </h1>
    <!--<form method="POST"  id = "form1" name="SubmitForm" >-->
        {% csrf_token %}
        <!--{{ form }}-->
        <div>


        <label>Select a trend topic:</label>

        <select name = "keyword" id = "keys">
            <option value = 'trump'>Trump</option>
            <option value = 'food'> food</option>
            <option value = 'music'>Music</option>
            <option value = 'Netflix'>Netflix</option>
            <option value='politics'>Politics</option>
            <option value='travel'>Travel</option>
            <option value="Cloudera">Cloudera</option>
            <option value="Tech">Tech</option>
        </select>

        <button type = "submit" id = "search"/> Search </button>
            </div>
        <div>
            <label id = "new_tweets"></label>
        </div>

        <div>
            <label>Please select a point on the map</label>
            <label>Tweets within distnt</label>
            <input type="number" id="distance" placeholder="Distance in miles" disabled="disabled">
            <button type = "submit" id = "loc_search" disabled="disabled"/> Submit </button>
        </div>


    <!--</form>-->

      <div id = "selected_point">
          <label>Location selected:</label>
        <label ><span id="selected_lat">null</span></label>
        <label ><span id="selected_lon">null</span></label>
    </div>
    </div>
    <div id = "googleMap" style = "width:100%; height: 600px;"></div>
</body>
<script>function myMap(){
    var mapProp = {
          center: new google.maps.LatLng(51.508742,-0.120850),
          zoom: 3,
      };
    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

    }
</script>
<script src ="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdxkKKGNgYFz7ObC1YwlAzCvhhp3GsHlE&callback=myMap"></script>
<script>


</script>

</html>