{% extends 'map/base.html'  %}
{% block javascript %}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>


<script>

    $(document).ready(function(){

        $("#search").click(function(){
            var mapProp = {
            center: new google.maps.LatLng(51.508742,-0.120850),
            zoom: 2,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

            $.ajax({
                type: "POST",
                url: "/pull_stream/",
                data: {
                    "keyword": $("#keys").val(),
                    "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
                },
            success: function(response){
                var test = "";
                var pin = "6600cc"
                var pos_pin = "339933"
                var neg_pin = "ff0000"
                var marker;
                for(var i=0; i<response.tweet_coordinates.length; i++){
                    var tweet = response.tweet_coordinates[i][0];
                    var lat = parseFloat(response.tweet_coordinates[i][1]['lat']);
                    var lon = parseFloat(response.tweet_coordinates[i][1]['lon']);
                    var senti = response.tweet_coordinates[i][2];
                    console.log(tweet+": ("+lat+","+lon+")");
                    console.log(response);



                    // Logic for displaying marker on the google map
                    if (senti == "positive"){
                        pin = pos_pin
                    }

                    else if (senti == "negative"){
                        pin = neg_pin
                    }

                    var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" +  pin,
                        new google.maps.Size(20,35),
                        new google.maps.Point(0,0),
                        new google.maps.Point(0,32)
                    );


                    var LatLng = new google.maps.LatLng(lat, lon);
                    marker = new google.maps.Marker({
                        position: LatLng,
                        title: tweet,
                        map: map
                    });

                }

            },
            error: function(response){
                alert(JSON.stringify(response));
            }

        });
      });
    });

</script>
{% endblock %}

