{% extends 'map/base.html'  %}
{% block javascript %}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>


<script>
    $("#new_tweets").text(0);
      <!-- to increment counter for new tweets -->
      $.fn.poll_request = function(){
            var ajaxCall = $.ajax({
            url: "/poll_data/",
            type: "post",
            data: {
                "csrfmiddlewaretoken" : $("[name='csrfmiddlewaretoken']").val()
            },
            success: function(response){
                var new_tweets = response.new_tweets;
                $("#new_tweets").text(parseInt($("#new_tweets").text())+new_tweets.length);
            },
            error: function(error){
            },
            complete: function(){
                $.fn.poll_request();
            }
            });
      };
      setTimeout($.fn.poll_request,1000);

    $(document).ready(function(){
        $("#search").click(function(){
            $("#new_tweet_num").text(0);
            var mapProp = {
            center: new google.maps.LatLng(51.508742,-0.120850),
            zoom: 2,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

            $.ajax({
                type: "POST",
                url: "/pull_stream/",
                data: {
                    "keyword": $("#keys").val(),
                    "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
                },
            success: function(response){
                var test = "";
                for(var i=0; i<response.tweet_coordinates.length; i++){
                    var tweet = response.tweet_coordinates[i][0];
                    var lat = parseFloat(response.tweet_coordinates[i][1]['lat']);
                    var lon = parseFloat(response.tweet_coordinates[i][1]['lon']);
                    console.log(tweet+": ("+lat+","+lon+")");


                    // Logic for displaying marker on the google map
                    if (senti == 'positive'){
                        var pin = "34BA46"
                    }

                    else if (senti == 'negative'){
                        var pin = "0067a9"
                    }
                    else{
                        var pin = "95a0a9"
                    }
                    var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" +  pin,
                        new google.maps.Size(20,35),
                        new google.maps.Point(0,0),
                        new google.maps.Point(0,32)
                    );

                    var marker;
                    var LatLng = new google.maps.LatLng(lat, lon);
                    marker = new google.maps.Marker({
                        position: LatLng,
                        title: tweet,
                        map: map
                    });

                }

            },
            error: function(response){
                alert(JSON.stringify(response));
            }

        });
      });
    });

</script>
{% endblock %}

